[submodule "external/Kernel"]
	path = external/Kernel
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Kernel.git
[submodule "external/HdrSrc"]
	path = external/HdrSrc
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Programmer/HdrSrc.git
	branch = master
[submodule "external/FileCore"]
	path = external/FileCore
	url = https://gitlab.riscosopen.org/RiscOS/Sources/FileSys/FileCore.git
[submodule "external/ADFS"]
	path = external/ADFS
	url = https://gitlab.riscosopen.org/RiscOS/Sources/FileSys/ADFS/ADFS.git
[submodule "external/ADFS4"]
	path = external/ADFS4
	url = https://gitlab.riscosopen.org/RiscOS/Sources/FileSys/ADFS/ADFS4.git
[submodule "external/BASIC"]
	path = external/BASIC
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Programmer/BASIC.git
[submodule "external/Desktop"]
	path = external/Desktop
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Desktop/Desktop.git
[submodule "external/Wimp"]
	path = external/Wimp
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Desktop/Wimp.git
[submodule "external/Internet6"]
	path = external/Internet6
	url = https://gitlab.riscosdev.co.uk/johnballance/internet6.git
[submodule "external/NetworkManager"]
	path = external/NetworkManager
	url = https://gitlab.riscosdev.co.uk/gitlab-instance-22c13a02/networkmanager.git
