[submodule "external/Kernel"]
	path = external/Kernel
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Kernel.git
[submodule "external/HdrSrc"]
	path = external/HdrSrc
	url = https://gitlab.riscosopen.org/RiscOS/Sources/Programmer/HdrSrc.git
	branch = master
[submodule "external/FileCore"]
	path = external/FileCore
	url = https://gitlab.riscosopen.org/RiscOS/Sources/FileSys/FileCore.git
